<html>
<head>
</head>
<body>

<% bothhands = deal_hands() %>
<% whitehand = whitehand(bothhands) %>
<% blackhand = blackhand(bothhands) %>
<% whitehigh = white_high_low(whitehand) %>
<% blackhigh = black_high_low(blackhand) %>
<% white_added = convert_white(whitehigh) %>
<% black_added = convert_black(blackhigh) %>

<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
    width:40%
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>

<form method="post" action="play">
<div class="twohands">

<table class="tg" align="center" border="solid">

  <tr>
    <th class="tg-kzq8" id="leftwhite">White</th>
    <th class="tg-o2qf" id="rightblack">Black</th>
  </tr>
  
  <tr>
    <td class="tg-3pmj" id="left[0]"><%= white_numbers = white_numbers(white_added)[0] %> of <%= white_suits = white_suits(white_added)[0]%></td>
    <td class="tg-0r6a" id="right[0]"><%= black_numbers = black_numbers(black_added)[0] %> of <%= black_suits = black_suits(black_added)[0]%></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[1]"><%= white_numbers = white_numbers(white_added)[1] %> of <%= white_suits = white_suits(white_added)[1]%></td>
      <td class="tg-0r6a" id="right[1]"><%= black_numbers = black_numbers(black_added)[1] %> of <%= black_suits = black_suits(black_added)[1]%></td>
  </tr>
  
  <tr>
      <td class="tg-3pmj" id="left[2]"><%= white_numbers = white_numbers(white_added)[2] %> of <%= white_suits = white_suits(white_added)[2]%></td>
      <td class="tg-0r6a" id="right[2]"><%= black_numbers = black_numbers(black_added)[2] %> of <%= black_suits = black_suits(black_added)[2]%></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[3]"><%= white_numbers = white_numbers(white_added)[3] %> of <%= white_suits = white_suits(white_added)[3]%></td>
      <td class="tg-0r6a" id="right[3]"><%= black_numbers = black_numbers(black_added)[3] %> of <%= black_suits = black_suits(black_added)[3]%></td>
  </tr>

  <tr>
    <td class="tg-3pmj" id="left[4]"><%= white_numbers = white_numbers(white_added)[4] %> of <%= white_suits = white_suits(white_added)[4]%></td>
    <td class="tg-0r6a" id="right[4]"><%= black_numbers = black_numbers(black_added)[4] %> of <%= black_suits = black_suits(black_added)[4]%></td>
  </tr>    
</table>
</div>
</form>


<div>
<h2>
    <% white_one = white_numbers(white_added)[0] %>
    <% white_two = white_numbers(white_added)[1] %>
    <% white_three = white_numbers(white_added)[2] %>
    <% white_four = white_numbers(white_added)[3] %>
    <% white_five = white_numbers(white_added)[4] %>

    <% black_one = black_numbers(black_added)[0] %>
    <% black_two = black_numbers(black_added)[1] %>
    <% black_three = black_numbers(black_added)[2] %>
    <% black_four = black_numbers(black_added)[3] %>
    <% black_five = black_numbers(black_added)[4] %>
</h2>

<div>

  <% if (white_one == white_two) || (white_two == white_three) || (white_three == white_four) || (white_four == white_five) %>
    <% whiterank = 1 %>
  <% end %>

<% if (white_one == white_two && white_three == white_four) || white_two == white_three && white_four == white_five %>
  <% whiterank = 2 %>
<% end %>

<% if (white_one == white_three) || (white_two == white_four) || (white_three == white_five) %>
  <% whiterank = 3 %>
<% end %>

<% if (white_one - 4 == white_five) && (white_one - 3 == white_four) && (white_one - 2 == white_three) && (white_one - 1 == white_two) %>
  <% whitestraight = true %>
  <% whiterank = 4 %>
<% end %>

</div>

<div>
<% if (white_one == white_four) || (white_two == white_five) %>
  <% whiterank = 7 %>
<% end %>

<% white_onest = white_suits(white_added)[0] %>
<% white_twost = white_suits(white_added)[1] %>
<% white_threest = white_suits(white_added)[2] %>
<% white_fourst = white_suits(white_added)[3] %>
<% white_fivest = white_suits(white_added)[4] %>

<% if (white_onest == white_twost) && (white_twost == white_threest) && (white_threest == white_fourst) && (white_fourst == white_fivest) %>
  <% whiteflush = true %>
  <% whiterank = 5 %>
<% end %>

<% if (white_one == white_two && white_one == white_three && white_four == white_five) || (white_three == white_four && white_three == white_five && white_one == white_two) %>
  <% whiterank = 6 %>
<% end %>

<% if whitestraight == true && whiteflush == true %>
  <% whiterank = 8 %>
<% end %>

<% if (whitestraight == true && whiteflush == true) && (white_one == 14) %>
  <% whiterank = 9 %>
<% end %>
</div>

<div>
<% if whiterank == 9 %>
  White royal flush!
<% elsif whiterank == 8 %>
  White straight flush!
<% elsif whiterank == 7 %>
  White four of a kind!
<% elsif whiterank == 6 %>
  White full house!
<% elsif whiterank == 5 %>
  White flush!
<% elsif whiterank == 4 %>
  White straight.
<% elsif whiterank == 3 %>
  White three of a kind.
<% elsif whiterank == 2 %>
  White two pair.
<% elsif whiterank == 1 %>
  White pair.
<% else %>
  <% whiterank = 0 %>
  White high card.
<% end %>

</h4>
</div>

<div>
  <h4>
   
  <% if (black_one == black_two) || (black_two == black_three) || (black_three == black_four) || (black_four == black_five) %>
    <% blackrank = 1 %>
  <% end %>
    
  <% if (black_one == black_two && black_three == black_four) || (black_two == black_three && black_four == black_five) %>
    <% blackrank = 2 %>
  <% end %>
    
  <% if (black_one == black_three) || (black_two == black_four) || (black_three == black_five) %>
    <% blackrank = 3 %>
  <% end %>
    
  <% if (black_one - 4 == black_five) && (black_one - 3 == black_four) && (black_one - 2 == black_three) && (black_one - 1 == black_two) %>
    <% blackstraight = true %>
    <% blackrank = 4 %>
  <% end %>
    
  <% if (black_one == black_four) || (black_two == black_five) %>
    <% blackrank = 7 %>
  <% end %>
    
    <% black_onest = black_suits(black_added)[0] %>
    <% black_twost = black_suits(black_added)[1] %>
    <% black_threest = black_suits(black_added)[2] %>
    <% black_fourst = black_suits(black_added)[3] %>
    <% black_fivest = black_suits(black_added)[4] %>
    
  <% if (black_onest == black_twost) && (black_twost == black_threest) && (black_threest == black_fourst) && (black_fourst == black_fivest) %>
    <% blackflush = true %>
    <% blackrank = 5 %>
  <% end %>

  <% if (black_one == black_two && black_one == black_three && black_four == black_five) || (black_three == black_four && black_three == black_five && black_one == black_two) %>
    <% blackrank = 6 %>
  <% end %>
  
  <% if blackstraight == true && blackflush == true %>
    <% blackrank = 8 %>
  <% end %>
  
  <% if (blackstraight == true && blackflush == true) && (black_one == 14) %>
    <% blackrank = 9 %>
  <% end %>
  
  <% if blackrank == 9 %>
    Black royal flush!
  <% elsif blackrank == 8 %>
    Black straight flush!
  <% elsif blackrank == 7 %>
    Black four of a kind!
  <% elsif blackrank == 6 %>
    Black full house!
  <% elsif blackrank == 5 %>
    Black flush!
  <% elsif blackrank == 4 %>
    Black straight.
  <% elsif blackrank == 3 %>
    Black three of a kind.
  <% elsif blackrank == 2 %>
    Black two pair.
  <% elsif blackrank == 1 %>
    Black pair.
  <% else %>
    <% blackrank = 0 %>
    Black high card.
  <% end %>
    
</h4>
</div>

<div>
<h2>
<% tied = false %>
<% if whiterank > blackrank %>
  WHITE WINS!
<% elsif whiterank < blackrank %>
  BLACK WINS!
<% else %>
  <% tied = true %>
  Go to tiebreaker.
<% end %>
</h2>
</div>

<div>
  <h2>
  <% if tied == true && whiterank == 0 %>
    <% if white_one > black_one %>
      WHITE WINS!
    <% elsif white_one < black_one %>
      BLACK WINS!
    <% end %>

    <% if tied == true && white_two > black_two %>
      WHITE WINS!
      <% elsif tied == true && white_two < black_two %>
      BLACK WINS!
    <% end %>

    <% if tied == true && white_three > black_three %>
      WHITE WINS!
      <% elsif tied == true && white_three < black_three %>
      BLACK WINS!
    <% end %>

    <% if tied == true && white_four > black_four %>
    WHITE WINS!
    <% elsif tied == true && white_four < black_four %>
    BLACK WINS!
    <% end %>

    <% if tied == true && white_five > black_five %>
      WHITE WINS!
    <% elsif tied == true && white_five < black_five %>
      BLACK WINS!
    <% end %>
  <% end %>
  </h2>
</div>

<div>
<h2>
  <% if tied == true && whiterank == 1 %>
    <% if white_one == white_two %>
      <% white_paircard = white_one %>
      <% white_topcard = white_three %>
    <% elsif white_two == white_three %>
      <% white_paircard = white_two %>
      <% white_topcard = white_one %>
    <% elsif white_three == white_four %>
      <% white_paircard = white_three %>
      <% white_topcard = white_one %>
    <% else %>
      <% white_paircard = white_four %>
      <% white_topcard = white_one %>
    <% end %>
      
    <% if black_one == black_two %>
      <% black_paircard = black_one %>
      <% black_topcard = black_three %>
    <% elsif black_two == black_three %>
      <% black_paircard = black_two %>
      <% black_topcard = black_one %>
    <% elsif black_three == black_four %>
      <% black_paircard = black_three %>
      <% black_topcard = black_one %>
    <% else %>
      <% black_paircard = black_four %>
      <% black_topcard = black_one %>
    <% end %>
  <% end %>
  
  <% if tied == true && white_paircard > black_paircard %>
        WHITE WINS!
  <% elsif tied == true && white_paircard < black_paircard %>
        BLACK WINS!
  <% elsif tied == true && white_topcard > black_topcard %>
        WHITE WINS!
  <% elsif tied == true && white_topcard > black_topcard %>
        BLACK WINS!
  <% elsif tied == true %>
        DEAD TIE.
  <% end %>

</h2>
</div>

<div>
<h2>
  <% if tied == true && whiterank == 2 %>
    <% if (white_one == white_two) && (white_three == white_four) %>
      <% white_firstp = white_one %>
      <% white_secondp = white_three %>
      <% white_topcard = white_five %>
    <% elsif (white_one == white_two) && (white_four == white_five) %>
      <% white_firstp = white_one %>
      <% white_secondp = white_four %>
      <% white_topcard = white_three %>  
    <% elsif (white_two == white_three) && (white_four == white_five) %>
      <% white_firstp = white_two %>
      <% white_secondp = white_four %>
      <% white_topcard = white_one %> 
    <% end %>

    <% if (black_one == black_two) && (black_three == black_four) %>
      <% black_firstp = black_one %>
      <% black_secondp = black_three %>
      <% black_topcard = black_five %>
    <% elsif (black_one == black_two) && (black_four == black_five) %>
      <% black_firstp = black_one %>
      <% black_secondp = black_four %>
      <% black_topcard = black_three %>  
    <% elsif (black_two == black_three) && (black_four == black_five) %>
      <% black_firstp = black_two %>
      <% black_secondp = black_four %>
      <% black_topcard = black_one %> 
    <% end %>
  <% end %>

  <% if (tied == true) && white_firstp > black_firstp %>
    WHITE WINS!
  <% elsif (tied == true) && white_firstp < black_firstp %>
    BLACK WINS!
  <% elsif (tied == true) && white_secondp > black_secondp %>
    WHITE WINS!
  <% elsif (tied == true) && white_secondp < black_secondp %>
    BLACK WINS!
  <% elsif (tied == true) && white_topcard > black_topcard %>
    WHITE WINS!
  <% elsif (tied == true) && white_topcard < black_topcard %>
    BLACK WINS! 
  <% else %>
    DEAD TIE.
  <% end %> 

</h2>
</div>

<div>
<h2>
  <% if (tied == true) && (whiterank == 3) %>
    <% if white_one == white_two %>
      <% white_threecard = white_one %>
      <% white_topcard = white_four %> 
    <% elsif white_two == white_four %>
      <% white_threecard = white_two %>
      <% white_topcard = white_one %> 
    <% elsif white_three == white_five %>
      <% white_threecard = white_three %>
      <% white_topcard = white_one %> 
    <% end %>

    <% if black_one == black_two %>
      <% black_threecard = black_one %>
    <% elsif black_two == black_four %>
      <% black_threecard = black_two %>
    <% elsif black_three == black_five %>
      <% black_threecard = black_three %>
    <% end %>

    <% if (tied == true) && white_threecard > black_threecard %>
      WHITE WINS!
    <% elsif (tied == true) && white_threecard < black_threecard %>
      BLACK WINS!
    <% elsif (tied == true) && white_topcard > black_topcard %>
      WHITE WINS!
    <% elsif (tied == true) && white_topcard < black_topcard %>
      BLACK WINS!
    <% end %>
  <% end %>
</h2>
</div>

<div>
  <h2>
    <% if (tied == true) && (whiterank == 7) %>
      <% if white_one == white_four %>
        <% white_fourcard = white_one %>
      <% elsif white_two == white_five %>
        <% white_fourcard = white_two %>
      <% end %>
  
      <% if black_one == black_four %>
        <% black_fourcard = black_one %>
      <% elsif black_two == black_five %>
        <% black_four = black_two %>
      <% end %>
  
      <% if (tied == true) && white_fourcard > black_fourcard %>
        WHITE WINS!
      <% elsif (tied == true) && white_fourcard < white_fourcard %>
        BLACK WINS!
      <% end %>
    <% end %>
  </h2>
</div>

  <div>
    <h2>
      <% if (tied == true) && (whiterank == 6) %>
        <% if white_one = white_three %>
          <% white_fullcard = white_one %>
        <% elsif white_three = white_five %>
          <% white_fullcard = white_three %>
        <% end %>

        <% if black_one = black_three %>
          <% black_fullcard = black_one %>
        <% elsif black_three = black_five %>
          <% black_fullcard = black_three %>
        <% end %>

        <% if (tied == true) && white_fullcard > black_fullcard %>
          WHITE WINS!
        <% elsif (tied == true) && white_fullcard < white_fullcard %>
          BLACK WINS!
        <% end %>
      <% end %>
    </h2>
  </div>

  <div>
    <h2>
      <% if (tied == true) && ((whiterank == 4) || (whiterank == 5) || (whiterank == 8) || (whiterank == 9)) %>
        <% white_topcard = white_one %>
        <% black_topcard = black_one %>
      <% end %>

      <% if (tied == true) && white_topcard > black_topcard %>
        WHITE WINS!
      <% elsif (tied == true) && white_topcard < white_topcard %>
        BLACK WINS!
      <% end %>
    </h2>
    </div>













<div>
  <button value="Refresh Page" onClick="window.location.reload()">Deal!</button>

</div>

</body>
</html>