<html>
<head>
</head>
<body>

<% bothhands = deal_hands() %>
<% whitehand = whitehand(bothhands) %>
<% blackhand = blackhand(bothhands) %>
<% whitehigh = white_high_low(whitehand) %>
<% blackhigh = black_high_low(blackhand) %>
<% white_added = convert_white(whitehigh) %>
<% black_added = convert_black(blackhigh) %>

<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
    width:40%
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>

<form method="post" action="play">
<div class="twohands">

<table class="tg" align="center" border="solid">

  <tr>
    <th class="tg-kzq8" id="leftwhite">White</th>
    <th class="tg-o2qf" id="rightblack">Black</th>
  </tr>
  
  <tr>
    <td class="tg-3pmj" id="left[0]"><%= white_numbers = white_numbers(white_added)[0] %> of <%= white_suits = white_suits(white_added)[0]%></td>
    <td class="tg-0r6a" id="right[0]"><%= black_numbers = black_numbers(black_added)[0] %> of <%= black_suits = black_suits(black_added)[0]%></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[1]"><%= white_numbers = white_numbers(white_added)[1] %> of <%= white_suits = white_suits(white_added)[1]%></td>
      <td class="tg-0r6a" id="right[1]"><%= black_numbers = black_numbers(black_added)[1] %> of <%= black_suits = black_suits(black_added)[1]%></td>
  </tr>
  
  <tr>
      <td class="tg-3pmj" id="left[2]"><%= white_numbers = white_numbers(white_added)[2] %> of <%= white_suits = white_suits(white_added)[2]%></td>
      <td class="tg-0r6a" id="right[2]"><%= black_numbers = black_numbers(black_added)[2] %> of <%= black_suits = black_suits(black_added)[2]%></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[3]"><%= white_numbers = white_numbers(white_added)[3] %> of <%= white_suits = white_suits(white_added)[3]%></td>
      <td class="tg-0r6a" id="right[3]"><%= black_numbers = black_numbers(black_added)[3] %> of <%= black_suits = black_suits(black_added)[3]%></td>
  </tr>

  <tr>
    <td class="tg-3pmj" id="left[4]"><%= white_numbers = white_numbers(white_added)[4] %> of <%= white_suits = white_suits(white_added)[4]%></td>
    <td class="tg-0r6a" id="right[4]"><%= black_numbers = black_numbers(black_added)[4] %> of <%= black_suits = black_suits(black_added)[4]%></td>
  </tr>    
</table>
</div>
</form>


<div>
<h2>
<% if (white_numbers = white_numbers(white_added)[0]) > (black_numbers = black_numbers(black_added)[0]) %>
White has higher high card.
<% elsif (white_numbers = white_numbers(white_added)[0]) < (black_numbers = black_numbers(black_added)[0]) %>
Black has higher high card.
<% else %>
High cards are the same.
<% end %>
</h2>

<h4>

<% white_one = white_numbers(white_added)[0] %>
<% white_two = white_numbers(white_added)[1] %>
<% white_three = white_numbers(white_added)[2] %>
<% white_four = white_numbers(white_added)[3] %>
<% white_five = white_numbers(white_added)[4] %>

<% if (white_one == white_two) || (white_two == white_three) || (white_three == white_four) || (white_four == white_five) %>
White pair.
<% end %>

<% if ((white_one == white_two) && (white_three == white_four || white_four == white_five)) || (white_two == white_three && white_four == white_five) %>
White two pair.
<% end %>

<% if (white_one == white_three) || (white_two == white_four) || (white_three == white_five) %>
White three of a kind.
<% end %>





</h4>


</div>

<div>

  <button value="Refresh Page" onClick="window.location.reload()">Deal!</button>

</div>

</body>
</html>