<html>
<head>
</head>
<body>

<% card_arr, bothhands = [*1..52], [] %>
<% shufcard_arr = card_arr.shuffle %>

<style type="text/css">
.tg  {
    border-collapse:collapse;border-spacing:0;
    width:40%
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-0r6a {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    background-color: #000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top}

.tg .tg-kzq8 {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-o2qf {
    font-weight:bold;
    font-size:36px;
    font-family:"Arial Black", Gadget, sans-serif !important;;
    background-color:#000000;
    color:#ffffff;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-3pmj {
    font-weight:bold;
    font-size:24px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
</style>

<% whitecards_arr = shufcard_arr.pop(5) %>
<% blackcards_arr = shufcard_arr.pop(5) %>
<% whitehigh = whitecards_arr.sort { |x,y| y <=> x } %>
<% blackhigh = blackcards_arr.sort { |x,y| y <=> x } %>

<% w, y, white_numbers, white_suits = 0, 0, [], [] %>
<% until whitehigh[w] == nil %>
  <% white_numbers[y] = (whitehigh[w] + 7) / 4 %>
  <% white_suits[y] = (whitehigh[w] + 7) % 4 %>
  <% w += 1 %>
  <% y += 1 %>
<% end %>

<% b, c, black_numbers, black_suits = 0, 0, [], [] %>
<% until blackhigh[b] == nil %>
  <% black_numbers[c] = (blackhigh[b] + 7) / 4 %>
  <% black_suits[c] = (blackhigh[b] + 7) % 4 %>
  <% b += 1 %>
  <% c += 1 %>
<% end %>

<% x = 0 %>
<% while x < 5 %>
  <% if white_numbers[x] == 14 %>
    <% white_numbers[x] = "Ace" %>
  <% elsif white_numbers[x] == 13 %>
    <% white_numbers[x] = "King" %>
  <% elsif white_numbers[x] == 12 %>
    <% white_numbers[x] = "Queen" %>
  <% elsif white_numbers[x] == 11 %>
    <% white_numbers[x] = "Jack" %>
  <% end %>

  <% if white_suits[x] == 0 %>
    <% white_suits[x] = "Clubs" %>
  <% elsif white_suits[x] == 1 %>
    <% white_suits[x] = "Spades" %>
  <% elsif white_suits[x] == 2 %>
    <% white_suits[x] = "Diamonds" %>
  <% elsif white_suits[x] == 3 %>
    <% white_suits[x] = "Hearts" %>
  <% end %>

<% x += 1 %>
<% end %>

<% d = 0 %>
<% while d < 5 %>
  <% if black_numbers[d] == 14 %>
    <% black_numbers[d] = "Ace" %>
  <% elsif black_numbers[d] == 13 %>
    <% black_numbers[d] = "King" %>
  <% elsif black_numbers[d] == 12 %>
    <% black_numbers[d] = "Queen" %>
  <% elsif black_numbers[d] == 11 %>
    <% black_numbers[d] = "Jack" %>
  <% end %>

  <% if black_suits[d] == 0 %>
    <% black_suits[d] = "Clubs" %>
  <% elsif black_suits[d] == 1 %>
    <% black_suits[d] = "Spades" %>
  <% elsif black_suits[d] == 2 %>
    <% black_suits[d] = "Diamonds" %>
  <% elsif black_suits[d] == 3 %>
    <% black_suits[d] = "Hearts" %>
  <% end %>
<% d += 1 %>
<% end %>





<form method="post" action="play">
<div class="twohands">

<table class="tg" align="center" border="solid">

  <tr>
    <th class="tg-kzq8" id="leftwhite">White</th>
    <th class="tg-o2qf" id="rightblack">Black</th>
  </tr>
  
  <tr>
    <td class="tg-3pmj" id="left[0]"><%= white_numbers[0] %> of <%= white_suits[0] %></td>
    <td class="tg-0r6a" id="right[0]"><%= black_numbers[0] %> of <%= black_suits[0] %></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[1]"><%= white_numbers[1] %> of <%= white_suits[1] %></td>
      <td class="tg-0r6a" id="right[1]"><%= black_numbers[1] %> of <%= black_suits[1] %></td>
  </tr>
  
  <tr>
      <td class="tg-3pmj" id="left[2]"><%= white_numbers[2] %> of <%= white_suits[2] %></td>
      <td class="tg-0r6a" id="right[2]"><%= black_numbers[2] %> of <%= black_suits[2] %></td>
  </tr>

  <tr>
      <td class="tg-3pmj" id="left[3]"><%= white_numbers[3] %> of <%= white_suits[3] %></td>
      <td class="tg-0r6a" id="right[3]"><%= black_numbers[3] %> of <%= black_suits[3] %></td>
  </tr>

  <tr>
    <td class="tg-3pmj" id="left[4]"><%= white_numbers[4] %> of <%= white_suits[4] %></td>
    <td class="tg-0r6a" id="right[4]"><%= black_numbers[4] %> of <%= black_suits[4] %></td>
  </tr>    
</table>
</div>
</form>

<div>


<h2><%= saythis = say_winner()%> !!! </h2>

</div>

<div>

  <button value="Refresh Page" onClick="window.location.reload()">Deal!</button>

</div>

</body>
</html>